
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ATM_layout.cshtml";
}

<style>
    .services {
        margin-bottom: 30px;
    }

    .service-box {
        box-shadow: 0 0 4px 0 #1c0892;
        padding: 15px;
        position: relative;
    }

    p {
        text-align: justify;
    }

    .fa {
        font-size: 40px;
        margin-bottom: 20px;
    }

    h3 {
        color: #585353;
    }

    h1 {
        color: #585353;
    }

    /*a{
        width:40px;
        height:40px;
        border-radius:50%;
        display:block;
        text-align:center;
        position:absolute;
        bottom:-20px;
        right:20px;


    }*/

    span {
        background: linear-gradient(to right, #3c69f8,#1c0892);
        -webkit-background-clip: text;
        color: transparent;
    }
</style>

<body>
    <div class="container">
        <div class="services">
            <h1>Our <span>Services</span> </h1>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-list-ul"></i>
                    <h3>Traffic <span>services</span></h3>
                    <a href="#" style="width:40px;
        height:40px;
        border-radius:50%;
        display:block;
        text-align:center;
        position:absolute;
        bottom:-20px;
        right:20px;"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-list-ul"></i>
                    <h3>Civil <span>affairs</span> </h3>

                    <a href="/ATMCivilAffairs/Index"
                       style="width:40px;
        height:40px;
        border-radius:50%;
        display:block;
        text-align:center;
        position:absolute;
        bottom:-20px;
        right:20px;"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="service-box">
                    <i class="fa fa-list-ul"></i>
                    <h3>Citizens' <span>complaints</span> </h3>

                    <a href="#"
                       style="width:40px;
        height:40px;
        border-radius:50%;
        display:block;
        text-align:center;
        position:absolute;
        bottom:-20px;
        right:20px;"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

        </div>



    </div>

</body>