
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GSE</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/css/style.min.css" rel="stylesheet">

    <link href="~/css/StyleSheet1.css" rel="stylesheet" />

    <link href="~/AdminLTE-3.0.1/dist/css/@Servicely.Languages.Language.ApplicationDirection" rel="stylesheet" />
    <link href="~/js/@Servicely.Languages.Language.arabic_css" rel="stylesheet" />

    <link href="~/AdminLTE-3.0.1/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <!-- JQuery -->
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script src="~/AdminLTE-3.0.1/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->

    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();</script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $(function () {

            var msg;
            $.ajax({
                url: "/Login/GetMessage",
                data: "",
                async: false,
                success: function (res) {

                    msg = res;
                }

            });

            const Toast = Swal.mixin({

                toast: true,

                position: 'top-end',

                showConfirmButton: false,


                timer: 5000

            });


            if (msg != "") {
                Toast.fire({
                    type: 'success',

                    title: msg

                });


            }


        });
    </script>

    <style>
        html, body {
            height: 100%;
        }

        .divider {
            margin-top: 1rem;
            margin-bottom: 1rem;
            height: 1px;
            overflow: hidden;
            background: #e9ecef;
        }

        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            margin-bottom: .5rem;
            font-family: inherit;
            font-weight: 400;
            line-height: 1.2;
            color: inherit;
        }

        .app-container {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            margin: 0;
        }

        .app-theme-white.app-container {
            background: #f1f4f6;
        }
    </style>
</head>
<body>

    <div class=" app-container app-theme-white h-100  ">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">

                    <div class="d-none d-lg-block col-lg-4">
                        <!--Carousel Wrapper-->
                        <div id="carousel-example-1z" class="carousel slide carousel-fade h-100" data-ride="carousel">

                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="view" style="background-image: url('../../img/wp2275698.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center;">

                                        <!-- Mask & flexbox options-->
                                        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                                        </div>
                                        <!-- Mask & flexbox options-->

                                    </div>
                                </div>
                                <!--/First slide-->
                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="view" style="background-image: url('../../img/1366x768-egypt-pyramids.JPG'); background-repeat: no-repeat; background-size: cover;  background-position:center;">

                                        <!-- Mask & flexbox options-->
                                        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">



                                        </div>
                                        <!-- Mask & flexbox options-->

                                    </div>
                                </div>
                                <!--/Second slide-->
                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="view" style="background-image: url('../../img/original.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center;">

                                        <!-- Mask & flexbox options-->
                                        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">



                                        </div>
                                        <!-- Mask & flexbox options-->

                                    </div>
                                </div>
                                <!--/Third slide-->

                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->

                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                    <div class=" h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9 container">

                            <div class="justify-content-center align-items-center text-center" style="margin-bottom:1.2rem">
                                <div>
                                    <img src="~/img/1222.jpeg" width="100" height="100" class=" mb-4 brand-image img-circle elevation-2" style="opacity: .8">

                                </div>
                                <h3 class="pb-1">GSE General Services of Egypt</h3>
                            </div>


                            <h4 class="mt-5">
                                <div>Forgot your Password?</div>
                                <span>Use the form below to recover it.</span>
                            </h4>
                            <div class="mt-4">
                                <form class="" action="/Login/RecoverPassword" method="post">
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="position-relative form-group"><label for="exampleEmail" class="">Email</label><input name="email" id="exampleEmail" placeholder="Email here..." required type="email" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="mt-4 d-flex align-items-center">
                                        <h6 class="mb-0"><a href="/Login/Index" class="text-primary">Sign in existing account</a></h6>
                                        <div class="ml-auto">
                                            <button  type="submit" class="btn btn-primary btn-lg active rounded" style="text-transform:capitalize">Recover Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</body>
</html>
