@model IEnumerable<Servicely.Models.RealStateRegistryInterestReportsSubject>

@{
    ViewBag.Title = "Index";
       if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Real State Registry Interest Reports Subject Name</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.realStateRegistryInterestReports_subject_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.realStateRegistryInterestReports_subject_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.realStateRegistryInterestReports_subject_id })
        </td>
    </tr>
}

</table>
