
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ATM_layout.cshtml";
}


<style>
    .service-box {
        box-shadow: 0 0 4px 0 #7e789f;
        padding: 3px;
        position: relative;
    }

    .services {
        margin-bottom: 30px;
    }


    .col-md-4:hover {
        background-color: #b4b3b7;
        padding: 3px;
        cursor: pointer;
    }

    p {
        text-align: justify;
    }

    .fa {
        font-size: 40px;
        margin-bottom: 20px;
    }

    h5 {
        color: #585353;
    }

        h5:hover {
            color: #ffffff;
        }

    h1 {
        color: #585353;
    }

    /*a{
        width:40px;
        height:40px;
        border-radius:50%;
        display:block;
        text-align:center;
        position:absolute;
        bottom:-20px;
        right:20px;


    }*/

    span {
        background: linear-gradient(to right, #3c69f8,#1c0892);
        -webkit-background-clip: text;
        color: transparent;
    }
</style>

<body>
    <div class="container">
        <div class="services">
            <h1>Our <span>Services</span> </h1>

        </div>

        <div class="row">
            <div class="col-md-4">

                <div class="service-box">
                    <a href="/ATMBirthCertificate/Index">

                        <h5>Extract <span>Birth Certificate</span></h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <a href="/ATMDeathCertificate/Index">

                        <h5>Extract <span>Death Certificate</span> </h5>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="service-box">
                    <a href="">

                        <h5>Extract <span>Marriage Certificate</span> </h5>
                    </a>

                </div>
            </div>

        </div>



    </div>

</body>

