
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GSE</title>
    <link rel="shortcut icon" href="~/img/222.png"  />
    <!-- Font Awesome

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/css/style.min.css" rel="stylesheet">

    <link href="~/css/StyleSheet1.css" rel="stylesheet" />




</head>

<body>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand text-capitalize" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
                <div>
                    <img class="brand-image rounded-circle elevation-2 align-top" src="~/img/1222.jpeg" style="opacity: .8" width="50" height="50"  title="GSE"/>
                </div>
                @*<h2 style="color:white"> Servicely</h2>
        <p style="color:white"> for general services</p>*@
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            @Servicely.Languages.Language.Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank"> @Servicely.Languages.Language.AboutServicely</a>
                    </li>
                   
                </ul>

                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a href="#" class="nav-link" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </nav>
    <!-- Navbar -->
    <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators--> 
         

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
                <div class="view" style="background-image: url('../../img/wp2275698.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center;">

                    <!-- Mask & flexbox options-->
                    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                        <!-- Content -->
                        <div class="text-center white-text mx-5 wow fadeIn">
                            <h3 class="mb-4">
                                <strong>GSE</strong>

                            </h3>

                            <h3>
                                <strong>General Services of Egypt System</strong>

                            </h3>

                            <p class="mb-4 d-none d-md-block">
                                <strong>

                                </strong>
                            </p>

                            <a target="_self" href="/login/Index" class="btn btn-outline-white btn-lg">
                                <strong>Sign In</strong>

                            </a>
                        </div>
                        <!-- Content -->

                    </div>
                    <!-- Mask & flexbox options-->

                </div>
            </div>
            <!--/First slide-->
            <!--Second slide-->
            <div class="carousel-item">
                <div class="view" style="background-image: url('../../img/1366x768-egypt-pyramids.JPG'); background-repeat: no-repeat; background-size: cover;  background-position:center;">

                    <!-- Mask & flexbox options-->
                    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                        <!-- Content -->
                        <div class="text-center white-text mx-5 wow fadeIn">
                            <h3 class="mb-4">
                                <strong>GSE</strong>
                             
                            </h3>

                            <h3>
                                <strong>General Services of Egypt System</strong>
                                
                            </h3>

                            <p class="mb-4 d-none d-md-block">
                                <strong>
                                   
                                </strong>
                            </p>

                            <a target="_self" href="/login/Index" class="btn btn-outline-white btn-lg">
                                <strong>Sign In</strong>

                            </a>
                        </div>

                        <!-- Content -->

                    </div>
                    <!-- Mask & flexbox options-->

                </div>
            </div>
            <!--/Second slide-->
            <!--Third slide-->
            <div class="carousel-item">
                <div class="view" style="background-image: url('../../img/original.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center;">

                    <!-- Mask & flexbox options-->
                    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                        <!-- Content -->
                        <div class="text-center white-text mx-5 wow fadeIn">
                            <h3 class="mb-4">
                                <strong>GSE</strong>

                            </h3>

                            <h3>
                                <strong>General Services of Egypt System</strong>

                            </h3>

                            <p class="mb-4 d-none d-md-block">
                                <strong>

                                </strong>
                            </p>

                            <a target="_self" href="/login/Index" class="btn btn-outline-white btn-lg">
                                <strong>Sign In</strong>

                            </a>
                        </div>
                        <!-- Content -->

                    </div>
                    <!-- Mask & flexbox options-->

                </div>
            </div>
            <!--/Third slide-->

        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->

    </div>
    <!--/.Carousel Wrapper-->
    <!--Main layout-->
    <main>
        <div class="container">

            <!--Section: Main info-->
            <section class="mt-5 wow fadeIn">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                        
                        <video   width="500"  height="200"  controls>
                            <source src="~/img/GSES VIDEO.mp4" type="video/mp4">
                            <source src="~/img/GSES VIDEO.mp4" type="video/ogg">
                        </video>
                        


                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 mb-4 mt-3">

                        <!-- Main heading -->
                        <h3 class="h3 mb-3">GSE material </h3>
                        <p>
                            This system help citizens to access some government Services through ATMs and Mobile application , you can do at any place at any time , no wasted time no wasted effort.

                        </p>

                        <!-- Main heading -->

                      <hr />

                        <!-- CTA -->


                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Main info-->

            <hr class="my-5">

            <!--Section: Main features & Quick Start-->
            <section>

                <h3 class="h3 text-center mb-5">About GSE</h3>

                <!--Grid row-->
                <div class="row wow fadeIn">

                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 px-4">

                        <!--First row-->
                        <div class="row">
                            <div class="col-1 mr-3">
                                <i class="fas fa-code fa-2x indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="feature-title">GSE</h5>
                                <p class="grey-text">Thanks to GSE you can take advantage of all feature of newest .</p>
                            </div>
                        </div>
                        <!--/First row-->

                        <div style="height:30px"> </div>

                        <!--Second row-->
                        <div class="row">
                            <div class="col-1 mr-3">
                                <i class="fas fa-book fa-2x blue-text"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="feature-title">Detailed documentation</h5>
                                <p class="grey-text">
                                    We give you detailed user-friendly documentation at your disposal.
                                     It will help you to do our services easily.
                                </p>
                            </div>
                        </div>
                        <!--/Second row-->

                        <div style="height:30px"></div>

                        <!--Third row-->
                        <div class="row">
                            <div class="col-1 mr-3">
                                <i class="fas fa-comments fa-2x cyan-text"></i>
                            </div>
                            <div class="col-10">
                                <h5 class="feature-title">Lots of </h5>
                                <p class="grey-text">
                                    We care about the development of our users. We have prepared numerous tutorials, which allow you to learn
                                    how to use our Application .
                                </p>
                            </div>
                        </div>
                        <!--/Third row-->

                    </div>
                    <!--/Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12">

                        
                        <div class="row">
                            <div class="col-md-12">
                                <img src="~/img/ministry.PNG" class="image elevation-2 w-100 " />

                            </div>
                        </div>

                    </div>
                    <!--/Grid column-->

                </div>
                <!--/Grid row-->

            </section>
            <!--Section: Main features & Quick Start-->

            <hr class="my-5">

            <!--Section: Not enough-->
            <section>

                <h2 class="my-5 h3 text-center">Our Mobile Application</h2>

                <!--First row-->
                <div class="row features-small mb-5 mt-3 wow fadeIn">

                    <!--First column-->
                    <div class="col-md-4">
                        <div style="height:15px"></div>
                        <div style="height:15px"></div>
                        <!--First row-->
                        <div class="row">
                            <div style="height:15px"></div>
                            <div style="height:15px"></div>
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-8">
                                <h6 class="feature-title"> Easy to request service from any government body</h6>
                                <p class="grey-text">
                                    <!---      Any citizen that has access in system can send request service , and we will receive his order and we work achieve it , and send it to address that he determined , citizen can receive the order by national id and pay the fees of request -->
                                </p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/First row-->
                        <!--Second row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-8">
                                <h6 class="feature-title">
                                    Easy to reserve appointment in  government body.
                                </h6>
                                <p class="grey-text">
                                    <!--  Any citizen that has access in system can reserve appointment in allowed government bodies by select office of determined government body and the date of appointment-->
                                </p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Second row-->
                        <div style="height:15px"></div>
                        <!--Third row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-8">
                                <h6 class="feature-title">
                                    Easy show traffic violations of owen cars
                                </h6>
                                <p class="grey-text"></p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Third row-->
                        <!--Fourth row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-8">
                                <h6 class="feature-title">
                                    Easy to request an ambulance from any location
                                </h6>
                                <p class="grey-text">

                                </p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Fourth row-->
                    </div>
                    <!--/First column-->
                    <div style="height:15px"></div>
                    <!--Second column-->
                    <div class="col-md-4 flex-center about-box porfile-overly">
                        <img src="~/img/mobscreen.JPG" alt="MDB Magazine Template displayed on iPhone" class="img-fluid">
                    </div>
                    <!--/Second column-->
                    <!--Third column-->
                    <div class="col-md-4 mt-2">
                        <div style="height:15px"></div>
                        <!--First row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">Easy to reserve vaccination appointment to your child</h6>
                                <p class="grey-text">
                                </p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/First row-->
                        <!--Second row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">Easy to reserve healthcare appointment</h6>
                                <p class="grey-text"></p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Second row-->
                        <div style="height:15px"></div>
                        <!--Third row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">Easy to send complaints to any government body</h6>
                                <p class="grey-text">
                                </p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Third row-->
                        <div style="height:15px"></div>
                        <!--Fourth row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-check-circle fa-2x indigo-text"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="feature-title">Easy to show responses of any complaint</h6>
                                <p class="grey-text">
                                </p>
                                <div style="height:15px"></div>
                            </div>
                        </div>
                        <!--/Fourth row-->
                    </div>
                    <!--/Third column-->

                </div>
                <!--/First row-->

            </section>
            <!--Section: Not enough-->
            @*<hr class="mb-5">*@

            <!--Section: More-->
            @*<section>

                    <h2 class="my-5 h3 text-center">...and even more</h2>

                    First row
                    <div class="row features-small mt-5 wow fadeIn">

                        Grid column
                        <div class="col-xl-3 col-lg-6">
                            Grid row
                            <div class="row">
                                <div class="col-2">
                                    <i class="fab fa-firefox fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2 pl-3">
                                    <h5 class="feature-title font-bold mb-1">Cross-browser compatibility</h5>
                                    <p class="grey-text mt-2">
                                        Chrome, Firefox, IE, Safari, Opera, Microsoft Edge - MDB loves all browsers; all browsers love MDB.
                                    </p>
                                </div>
                            </div>
                            /Grid row
                        </div>
                        /Grid column
                        Grid column
                        <div class="col-xl-3 col-lg-6">
                            Grid row
                            <div class="row">
                                <div class="col-2">
                                    <i class="fas fa-level-up-alt fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="feature-title font-bold mb-1">Frequent updates</h5>
                                    <p class="grey-text mt-2">
                                        MDB becomes better every month. We love the project and enhance as much as possible.
                                    </p>
                                </div>
                            </div>
                            /Grid row
                        </div>
                        /Grid column
                        Grid column
                        <div class="col-xl-3 col-lg-6">
                            Grid row
                            <div class="row">
                                <div class="col-2">
                                    <i class="fas fa-comments fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="feature-title font-bold mb-1">Active community</h5>
                                    <p class="grey-text mt-2">
                                        Our society grows day by day. Visit our forum and check how it is to be a part of our family.
                                    </p>
                                </div>
                            </div>
                            /Grid row
                        </div>
                        /Grid column
                        Grid column
                        <div class="col-xl-3 col-lg-6">
                            Grid row
                            <div class="row">
                                <div class="col-2">
                                    <i class="fas fa-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="feature-title font-bold mb-1">jQuery 3.x</h5>
                                    <p class="grey-text mt-2">
                                        MDB is integrated with newest jQuery. Therefore you can use all the latest features which come along with
                                        it.
                                    </p>
                                </div>
                            </div>
                            /Grid row
                        </div>
                        /Grid column

                    </div>
                    /First row
                    Second row
                    <div class="row features-small mt-4 wow fadeIn">

                        Grid column
                        <div class="col-xl-3 col-lg-6">
                            Grid row
                            <div class="row">
                                <div class="col-2">
                                    <i class="fas fa-cubes fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="feature-title font-bold mb-1">Modularity</h5>
                                    <p class="grey-text mt-2">
                                        Material Design for Bootstrap comes with both, compiled, ready to use libraries including all features as
                                        well as modules for CSS (SASS files) and JS.
                                    </p>
                                </div>
                            </div>
                            /Grid row
                        </div>
                        /Grid column
                        Grid column
                        <div class="col-xl-3 col-lg-6">
                            Grid row
                            <div class="row">
                                <div class="col-2">
                                    <i class="fas fa-question fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="feature-title font-bold mb-1">Technical support</h5>
                                    <p class="grey-text mt-2">
                                        We care about reliability. If you have any questions - do not hesitate to contact us.
                                    </p>
                                </div>
                            </div>
                            /Grid row
                        </div>
                        /Grid column
                        Grid column
                        <div class="col-xl-3 col-lg-6">
                            Grid row
                            <div class="row">
                                <div class="col-2">
                                    <i class="fas fa-th fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="feature-title font-bold mb-1">Flexbox</h5>
                                    <p class="grey-text mt-2">MDB fully supports Flex Box. You can forget about alignment issues.</p>
                                </div>
                            </div>
                            /Grid row
                        </div>
                        /Grid column
                        Grid column
                        <div class="col-xl-3 col-lg-6">
                            Grid row
                            <div class="row">
                                <div class="col-2">
                                    <i class="far fa-file-code fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 mb-2">
                                    <h5 class="feature-title font-bold mb-1">SASS files</h5>
                                    <p class="grey-text mt-2">Arranged and well documented .scss files can't wait until you compile them.</p>
                                </div>
                            </div>
                            /Grid row
                        </div>
                        /Grid column

                    </div>
                    /Second row

                </section>*@
            <!--Section: More-->

        </div>
    </main>
    <!--Main layout-->
    <!--Footer-->
    <footer class="page-footer text-center text-md-left pt-4">

        <!--Footer Links-->
        <div class="container">
            <div class="row">

                <!--First column-->
                <div class="col-md-3">
                    <h5 class="text-uppercase font-weight-bold mb-4">GSE system</h5>
                    <p>This system help citizens to access some government Services through ATMs and Mobile application , you can do at any place at any time , no wasted time no wasted effort.</p>
                </div>
                <!--/.First column-->

                <div class="col-md-4 mx-auto">
                    <h5 class="text-uppercase font-weight-bold mb-4">ATM Soon in Cairo</h5>
                    <ul class="list-unstyled">
                        <li> <img src="https://img.icons8.com/officel/16/000000/atm.png" /> <a href="#!">Al-Zahir Civil Register</a></li>
                        <li><img src="https://img.icons8.com/officel/16/000000/atm.png" />  <a href="#!">Al-Mosky Civil Register</a></li>
                        <li><img src="https://img.icons8.com/officel/16/000000/atm.png" />  <a href="#!">Sayeda Zeinab civil record</a></li>
                        <li><img src="https://img.icons8.com/officel/16/000000/atm.png" />  <a href="#!">Maadi Civil Registry</a></li>
                        <li><img src="https://img.icons8.com/officel/16/000000/atm.png" />  <a href="#!">Nozha Civil Register</a></li>
                        <li><img src="https://img.icons8.com/officel/16/000000/atm.png" />  <a href="#!">Ain Shams civil registry</a></li>
                        <li><img src="https://img.icons8.com/officel/16/000000/atm.png" />  <a href="#!">Al-abbassia civil registry</a></li>
                        <li><img src="https://img.icons8.com/officel/16/000000/atm.png" />  <a href="#!">Heliopolis Civil Registry</a></li>

                    </ul>
                </div>

                <hr class="w-100 clearfix d-md-none">
                <table>
                  <tr> <td><h5 class="text-uppercase font-weight-bold mb-3"> Approximate form of ATM</h5></td></tr>
                  <tr><td><img src="~/img/ATM.JPG" class="ml-5" width="200" height="200" /></td></tr>
               </table>
               
                <hr class="w-100 clearfix d-md-none">
                <!--

    <!--/.Second column



    <!--Third column
    <div class="col-md-2 mx-auto">
        <h5 class="text-uppercase font-weight-bold mb-4">Links</h5>
        <ul class="list-unstyled">
            <li><a href="#!">Link 1</a></li>
            <li><a href="#!">Link 2</a></li>
            <li><a href="#!">Link 3</a></li>
            <li><a href="#!">Link 4</a></li>
        </ul>
    </div>
    <!--/.Third column

    <hr class="w-100 clearfix d-md-none">

    <!--Fourth column
    <div class="col-md-2 mx-auto">
        <h5 class="text-uppercase font-weight-bold mb-4">Links</h5>
        <ul class="list-unstyled">
            <li><a href="#!">Link 1</a></li>
            <li><a href="#!">Link 2</a></li>
            <li><a href="#!">Link 3</a></li>
            <li><a href="#!">Link 4</a></li>
        </ul>
    </div>
    <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>

        <!--Call to action-->
        <div class="call-to-action text-center my-4">
            <ul class="list-unstyled list-inline">
                <li >
                </li>
                <li><a href="" class="btn btn-primary">Sign In</a></li>
            </ul>
        </div>
        <!--/.Call to action-->

        <hr>

        <!--Social buttons-->

        <div class="social-section text-center">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item"><a class="btn-floating btn-fb"><i class="fab fa-facebook-f"> </i></a></li>
                <li class="list-inline-item"><a class="btn-floating btn-tw"><i class="fab fa-twitter"> </i></a></li>
                <li class="list-inline-item"><a class="btn-floating btn-gplus"><i class="fab fa-google-plus-g"> </i></a></li>
                <li class="list-inline-item"><a class="btn-floating btn-li"><i class="fab fa-linkedin-in"> </i></a></li>
                <li class="list-inline-item"><a class="btn-floating btn-git"><i class="fab fa-github"> </i></a></li>
            </ul>
        </div>
        <!--/.Social buttons-->
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            <div class="container-fluid">
                © @DateTime.Now.Year Copyright: <a href="#"> GSE </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
    <!--/.Footer-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->

    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();</script>
</body>

</html>





@*<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Style1.css" rel="stylesheet" />
    <style>
        .text {
            width: 240px;
            text-align: center;
            background: transparent;
            border: none;
            border-bottom: 1px solid #fff;
            font-family: 'Play',sans-serif;
            font-size: 16px;
            padding: 10px 0;
            transition: border 0.5s;
            outline: none;
            color: #fff;
        }

        .button {
            border: none;
            width: 190px;
            background: white;
            color: #000;
            font-size: 16px;
            line-height: 25px;
            padding: 10px 0;
            border-radius: 15px;
            cursor: pointer;
            outline: none;
        }

            .button:hover {
                color: #fff;
                background-color: black;
            }

        .h2 {
            color: white;
        }

        .a {
            color: yellow;
            text-decoration: none;
        }

            .a:hover {
                color: skyblue;
            }

        .container {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    </style>

</head>
<body style="overflow-y: scroll; min-height:2500px">
    <div>


        <div class="row">

            <div class="col-md-12">
                <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top ">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img src="~/img/logooooooooo.jpg" style="width:100px; height:60px; margin:0px; position:relative" />


                        </a>

                        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Team</a>
                                </li>
                                <li class="nav-item">
                                    <button type="button" class="btn btn-danger">
                                        <a href="/Login/Index" id="aa" style="text-decoration:none; color:white;">Sign in</a>
                                    
                                    </button>
                                </li>



                            </ul>

                        </div>

                    </div>
                </nav>


            </div>

        </div>


        <div>
            <div id="slides" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="slides" data-slide-to="0" class="active"></li>
                    <li data-target="slides" data-slide-to="1"></li>
                    <li data-target="slides" data-slide-to="2"></li>
                </ul>

                <div class="carousel-inner">

                    <div class="carousel-item active" style="transition-duration:0.2s">


                        <img src="~/img/معلومات_عن_آثار_مصر_الفرعونية.jpg" style="width:1100px; height:600px" />
                        <div class="carousel-caption">
                            <h1 class="display-2">Egypt</h1>
                            <h3>All Services for Citizens</h3>

                            <input type="text" class="border-light" />
                            <button type="button" class="btn btn-outline-light btn-lg">Search</button>

                        </div>

                    </div>
                    <div class="carousel-item " style="transition-duration:0.2s">
                        <img src="~/img/newAry.JPG" style="width:1100px; height:600px" />
                        <div class="carousel-caption">
                            <h1 class="display-2">Egypt</h1>
                            <h3>All Services for Citizens</h3>

                            <input type="text" class="border-light" />
                            <button type="button" class="btn btn-outline-light btn-lg,">Search</button>
                            <span class="glyphicon glyphicon-name"></span>
                        </div>


                    </div>
                    <div class="carousel-item" style="transition-duration:0.2s">

                        <img src="~/img/newwwww.jpg" style="width:1100px; height:600px" />
                        <div class="carousel-caption">

                            <h1 class="display-2">Egypt</h1>
                            <h3>All Services for Citizens</h3>
                            <input type="text" class="border-light" />


                            <button type="button" class="btn btn-outline-light btn-lg">Search</button>

                        </div>
                    </div>

                </div>



            </div>
        </div>



        <div>

            <div class="container-fluid padding ">
                <div class="row-welcome text-center">

                    <div class="col-12">

                        <h1 class="display-4">Welcome!</h1>

                    </div>
                    <hr style="border-top:2px solid #b4b4b4;width:95%">

                    <div class="col-12">

                        <p class="lead">

                            welcome to our application that help you to make lots of services by many of features

                        </p>

                    </div>

                </div>

            </div>



        </div>

        <div>

            <div class="container-fluid padding">
                <div class="row text-center padding">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <i class="fa-fast-backward fa-area-chart"></i>
                        <h1>Civil</h1>
                        <p>dffyhjkjbvcffyhujhvghfxfgh</p>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <i class="fa-fast-forward fa-address-card"></i>
                        <h1>ATM</h1>
                        <p>dffyhjkjbvcffyhujhvghfxfgh</p>
                    </div>


                    <div class="col-sm-12 col-md-4">
                        <i class="fa-fast-backward fa-amazon"></i>
                        <h1>ATM</h1>
                        <p>dffyhjkjbvcffyhujhvghfxfgh</p>
                    </div>


                </div>
                <hr class="my-4">

            </div>

        </div>

        <div>


            <div class="container-fluid padding">
                <div class="row padding">
                    <div class="col-lg-6">
                        <h2>If you want to learn any thing more you can visit the .....</h2>
                        <p>dcvfgbhngrvgthnjyuhntgbfvsgdh</p>
                        <p>vbg k,kjnhbgvfhjuhjyhgfcfrgftr</p>
                        <br />
                        <a href="#" class="btn btn btn-primary">Learn More</a>
                    </div>
                    <div class="col col-lg-6">

                        <img src="~/img/news.jpg" class="img-fluid" />

                    </div>

                </div>


            </div>

        </div>

        <div class="container-fluid padding">
            <div class="row row-welcome text-center">
                <div class="col-12">
                    <h1 class="display-4">Meet the Team</h1>
                </div>

            </div>



        </div>



    </div>


    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-md-4">

                <div class="card">

                    <img class="card-img-top" src="~/img/rrr.jpg" />
                    <div class="card-body">
                        <div><h4 class="card-title">RoQaia Adel</h4></div>
                        <p class="card-text">the admin if you want to contact with us </p>
                        <a href="#" class="btn btn-outline-secondary">Profile</a>
                    </div>
                </div>



            </div>



            <div class="col-md-4">

                <div class="card">

                    <img class="card-img-top" src="~/img/rrr.jpg" />
                    <div class="card-body">
                        <div><h4 class="card-title">RoQaia Adel</h4></div>
                        <p class="card-text">the admin if you want to contact with us </p>
                        <a href="#" class="btn btn-outline-secondary">Profile</a>
                    </div>
                </div>



            </div>





            <div class="col-md-4">

                <div class="card">

                    <img class="card-img-top" src="~/img/rrr.jpg" />
                    <div class="card-body">
                        <div><h4 class="card-title">RoQaia Adel</h4></div>
                        <p class="card-text">the admin if you want to contact with us </p>
                        <a href="#" class="btn btn-outline-secondary">Profile</a>
                    </div>
                </div>



            </div>






        </div>



    </div>


    <div>


        <div class="container-fluid padding">

            <div class="row text-center padding">

                <div class="col-12">
                    <h2> Connect</h2>

                </div>

                <div class="col-12 social padding">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-google-plus"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>


            </div>



        </div>



    </div>



    <footer style="background-color:#3f3f3f;color:#5f5f5f;padding-top:2rem">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col col-md-4">
                    <img src="~/img/logooooooooo.jpg" style="width:50px; height:50px; margin:0px; position:relative" />
                    <hr style="border-top:1px solid #d5d5d5;width:75%;margin-top:.8rem;margin-bottom:1rem" />
                    <p style="color:#d5d5d5">6789-8756-6432</p>
                    <p style="color:#d5d5d5">srd@gmail</p>

                </div>

                <div class="col-md-4">
                    <hr style="border-top:1px solid #d5d5d5;width:75%;margin-top:.8rem;margin-bottom:1rem" />
                    <h5 style="color:#d5d5d5">Our Hours</h5>
                    <hr style="border-top:1px solid #d5d5d5;width:75%;margin-top:.8rem;margin-bottom:1rem" />
                    <p style="color:#d5d5d5">saturday</p>
                    <p style="color:#d5d5d5">monday</p>
                    <p style="color:#d5d5d5">thursday</p>
                </div>
                <div class="col-md-4">
                    <hr style="border-top:1px solid #d5d5d5;width:75%;margin-top:.8rem;margin-bottom:1rem" />
                    <h5 style="color:#d5d5d5">Service Area</h5>
                    <hr style="border-top:1px solid #d5d5d5;width:75%;margin-top:.8rem;margin-bottom:1rem" />
                    <p style="color:#d5d5d5">nasr city</p>
                    <p style="color:#d5d5d5">nasr city</p>
                    <p style="color:#d5d5d5">nasr city</p>
                </div>
                <div class="col-md-12">
                    <p style="color:#d5d5d5">website@gmail.com</p>
                </div>


            </div>

        </div>
    </footer>














</body>
</html>*@
