@model IEnumerable<Servicely.Models.RealStateRegistryInterestPopularContract>

@{
    ViewBag.Title = "Index";
       if (Session["Layout"] != null)
    { Layout = Session["Layout"].ToString(); }

    else
    { Layout = "~/Views/Shared/_Layout.cshtml"; }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Popular Contract Name</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model ) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.realStateRegistryInterest_popularContract_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.realStateRegistryInterest_popularContract_id }) |
        </td>
    </tr>
}

</table>
